[project]
authors = ["saviorand"]
channels = ["conda-forge", "https://conda.modular.com/max-nightly", "https://repo.prefix.dev/mojo-community-nightly", "https://repo.prefix.dev/mojo-community"]
description = "Simple and fast HTTP framework for Mojo!"
name = "lightbug_http"
platforms = ["osx-arm64", "linux-64"]
version = "0.1.4"
license = "MIT"
license-file = "LICENSE"
homepage = "https://github.com/saviorand/lightbug_http"
repository = "https://github.com/saviorand/lightbug_http"

[tasks]
build = { cmd = "bash scripts/build.sh nightly", env = {MODULAR_MOJO_IMPORT_PATH = "$CONDA_PREFIX/lib/mojo"} }
publish = { cmd = "bash scripts/publish.sh mojo-community-nightly", env = { PREFIX_API_KEY = "$PREFIX_API_KEY" } }
bp = { depends_on=["build", "publish"] }
template = { cmd = "magic run python scripts/templater.py" }
test = { cmd = "magic run mojo test -I . tests" }
bench = { cmd = "magic run mojo bench.mojo" }
bench_server = { cmd = "magic run mojo build bench_server.mojo && ./bench_server ; rm bench_server" }
format = { cmd = "magic run mojo format -l 120 lightbug_http" }

[dependencies]
max = ">=24.5.0,<25"
gojo = ">=0.1.12"
small_time = ">=0.1.4.nightly"

[feature.nightly]
channels = ["conda-forge", "https://conda.modular.com/max-nightly", "https://repo.prefix.dev/mojo-community-nightly", "https://repo.prefix.dev/mojo-community"]

[feature.nightly.dependencies]
max = ">=24.5.0,<25"
gojo = ">=0.1.12"
small_time = ">=0.1.4.nightly"

[environments]
nightly = ["nightly"]